/*-------------------body------------------*/
body{
    font-family: 'arial';
    line-height: 1em;
    margin: 0;
	padding: 0;
	background: url(pics/fam2.jpg) no-repeat;
	background-size: cover;
}
                                                                        /*-----------------navigation----------------*/
                                                                        nav{
                                                                            position: fixed;
                                                                            top: 0;
                                                                            width: 100%;
                                                                            height: 1090px;
                                                                            padding: 5px 55px;
                                                                            box-sizing: border-box;
                                                                            transition: .3s;
                                                                        }
                                                                        nav .logo{
                                                                            float: left;
                                                                            padding: 20px;
                                                                        }
                                                                        nav .logo img{
                                                                            height: 65px;
                                                                        }
                                                                        nav ul{
                                                                            float: right;
                                                                            margin: 0;
                                                                            padding: 0;
                                                                            display: flex;
                                                                        }
                                                                        nav ul li{
                                                                            list-style: none;
                                                                        }
                                                                        nav ul li a{
                                                                            line-height: 100px;
                                                                            color: white;
                                                                            padding: 5px 15px;
                                                                            font-family: 'calibre', sans-serif;
                                                                            text-decoration: none;
                                                                            text-transform: uppercase;
                                                                            transition: .3s;
                                                                            font-weight: bold;
                                                                            font-size: 13px;
                                                                            margin-bottom: 25px;
                                                                        }
                                                                        nav ul li a.active,
                                                                        nav ul li a:hover
                                                                        {
                                                                            color: black;
                                                                            background: aqua;
                                                                        }
/*------------------content1-----------------*/
section.content{
    padding-bottom: 75px;
}
section.content ul p{
    color: burlywood;
}
section.content ul{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    margin-top: 80px;
    width: 600px;
    height: 300px;
}
section.content ul li{
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #025;
    transform: rotate(45deg);
    transition: .5s;
    margin: -30px;
    overflow: hidden;
}
section.content ul li.item1{
    bottom: 0;
    left: 75%;
}
section.content ul li.item2{
    top: 0;
    left: 50%;
}
section.content ul li.item3{
    bottom: 0;
    left: 25%;
}
section.content ul li.item4{
    top: 0;
    left: 0;
}
section.content ul li .bg{
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.42);
}
section.content ul li.item1 .bg{
    background: url(pics/papa.jpg);
    background-size: cover;
}
section.content ul li.item2 .bg{
    background: url(pics/mama.jpg);
    background-size: cover;
 }
section.content ul li.item3 .bg{
    background: url(pics/amer.jpg);
    background-size: cover;
}
section.content ul li.item4 .bg{
    background: url(pics/selfie6.jpg);
    background-size: cover;
 }
                                                                        /*-------------------footer------------------*/
                                                                        #footer
                                                                        {
                                                                            color: white;
                                                                            font-size: 0.65em;
                                                                            margin-top: 500px;
                                                                            background-size: cover;
                                                                            background-color: black;
                                                                            padding: 11px;
                                                                            text-align: center;
                                                                        }
                                                                        span{
                                                                            font-size: 0.80em;
                                                                        }
em{
    color: red;
}
                                                                        /*-----------------content3----------------*/
                                                                        section h1 p{
                                                                            margin-top: -350px;
                                                                            padding-top: 400px;
                                                                            padding-bottom: 130px;
                                                                            font-size: 1.5em;
                                                                            color: beige;
                                                                            text-align: center;
                                                                            text-transform: uppercase;
                                                                            font-weight: bold;
                                                                        }

