/*-------------------body------------------*/
body{
    font-family: 'arial';
    line-height: 1em;
    margin: 0;
	padding: 0;
	background-color: #112229;
}
                                                                        /*-----------------navigation----------------*/
                                                                        nav{
                                                                            position: fixed;
                                                                            top: 0;
                                                                            width: 100%;
                                                                            height: 1090px;
                                                                            padding: 5px 55px;
                                                                            box-sizing: border-box;
                                                                            transition: .3s;
                                                                        }
                                                                        nav .logo{
                                                                            float: left;
                                                                            padding: 20px;
                                                                        }
                                                                        nav .logo img{
                                                                            height: 65px;
                                                                            width: 65px;
                                                                        }
                                                                        nav ul{
                                                                            float: right;
                                                                            margin: 0;
                                                                            padding: 0;
                                                                            display: flex;
                                                                        }
                                                                        nav ul li{
                                                                            list-style: none;
                                                                        }
                                                                        nav ul li a{
                                                                            line-height: 100px;
                                                                            color: white;
                                                                            padding: 5px 15px;
                                                                            font-family: 'calibre', sans-serif;
                                                                            text-decoration: none;
                                                                            text-transform: uppercase;
                                                                            transition: .3s;
                                                                            font-weight: bold;
                                                                            font-size: 13px;
                                                                            margin-bottom: 25px;
                                                                        }
                                                                        nav ul li a.active,
                                                                        nav ul li a:hover
                                                                        {
                                                                            color: black;
                                                                            background: aqua;
                                                                        }
/*-----------------content----------------*/
section.content{
    padding: 0em 5em 0em 5em;
}
section.content h1 p{
    margin-top: 130px;
    margin-bottom: 35px;
    padding: 50px;
    font-size: 1.5em;
    color: beige;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
section.content h2 p{
    margin-top: -275px;
    padding-top: 300px;
    padding-bottom: -5px;
    margin-left: 100px;
    font-size: 20px;
    color: firebrick;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
section.content ul li{
    margin-left: 130px;
    font-size: 15px;
    color: beige;
    text-align: left;
}
section.content ul li span{
    font-weight: bold;
    font-size: 13px;
    color: burlywood;
}
                                                                            /*-----------------content2----------------*/
                                                                            section.content2{
                                                                                padding: 0em 5em 0em 5em;
                                                                            }
                                                                            section.content2 h3 p{
                                                                                margin-top: -275px;
                                                                            padding-top: 300px;
                                                                            padding-bottom: -5px;
                                                                            margin-left: 100px;
                                                                            font-size: 20px;
                                                                            color: firebrick;
                                                                            text-align: left;
                                                                            text-transform: uppercase;
                                                                            font-weight: bold;
                                                                            }
                                                                            section.content2 ul li{
                                                                                margin-left: 130px;
                                                                                font-size: 15px;
                                                                                color: beige;
                                                                                text-align: left;
                                                                            }
                                                                            section.content2 ul li span{
                                                                                font-weight: bold;
                                                                                font-size: 13px;
                                                                                color: burlywood;
                                                                            }
/*-----------------content3----------------*/
section.content3{
    padding: 0em 5em 0em 5em;
}
section.content3 h4 p{
    margin-top: -275px;
    padding-top: 300px;
    padding-bottom: -5px;
    margin-left: 100px;
    font-size: 20px;
    color: firebrick;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
section.content3 ul li{
    margin-left: 130px;
    font-size: 15px;
    color: beige;
    text-align: left;
}
section.content3 ul li span{
    font-weight: bold;
    font-size: 13px;
    color: burlywood;
}
/*-----------------footer----------------*/
                                                                        #footer
                                                                        {
                                                                            text-align: center;
                                                                            color: white;
                                                                            font-size: 0.65em;
                                                                            margin-top: 50px;
                                                                            background-size: cover;
                                                                            background-color: black;
                                                                            padding: 12px;
                                                                        }
                                                                        span
                                                                        {
                                                                            font-size: 0.80em;
                                                                        }
/*-----------------color----------------*/
em{
    color: red;
}
img{
    width: 100%;
    height: 70%;
    
}