/*-------------------body------------------*/
body{
    font-family: 'arial';
    line-height: 1em;
    margin: 0;
	padding: 0;
	background: url(pics/selfie4.jpg) no-repeat;
	background-size: cover;
}
                                                                        /*-----------------navigation----------------*/
                                                                        nav{
                                                                            position: fixed;
                                                                            top: 0;
                                                                            width: 100%;
                                                                            height: 1090px;
                                                                            padding: 5px 55px;
                                                                            box-sizing: border-box;
                                                                            transition: .3s;
                                                                        }
                                                                        nav .logo{
                                                                            float: left;
                                                                            padding: 20px;
                                                                        }
                                                                        nav .logo img{
                                                                            height: 65px;
                                                                        }
                                                                        nav ul{
                                                                            float: right;
                                                                            margin: 0;
                                                                            padding: 0;
                                                                            display: flex;
                                                                        }
                                                                        nav ul li{
                                                                            list-style: none;
                                                                        }
                                                                        nav ul li a{
                                                                            line-height: 100px;
                                                                            color: white;
                                                                            padding: 5px 15px;
                                                                            font-family: 'calibre', sans-serif;
                                                                            text-decoration: none;
                                                                            text-transform: uppercase;
                                                                            transition: .3s;
                                                                            font-weight: bold;
                                                                            font-size: 13px;
                                                                            margin-bottom: 25px;
                                                                        }
                                                                        nav ul li a.active,
                                                                        nav ul li a:hover
                                                                        {
                                                                            color: black;
                                                                            background: aqua;
                                                                        }
/*-----------------content----------------*/
section.content{
    padding: 0em 8.5em 0em 8.5em;
}
section.content h1 p{
    margin-top: 90px;
    margin-bottom: 25px;
    padding: 50px;
    font-size: 1.5em;
    color: beige;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
section.content h2 p{
    margin-top: -70px;
    margin-bottom: 30px;
    color: aquamarine;
    text-align: center;
    font-size: 11px;
}
section.content h3 p{
    margin-top: 15px;
    padding: 35px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    text-align: left;
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-family: Comic Sans MS;
}
section.content h4 p{
    margin-top: -35px;
    margin-bottom: -1px;
    color: blanchedalmond;
    text-align: center;
    font-size: 8px;
}
section.content p{
    text-align: justify;
    color: beige;
    font-size: 13.3px;
}
                                                                    /*------------------footer-----------------*/     
                                                                    #footer
                                                                    {
                                                                        text-align: center;
                                                                        color: white;
                                                                        font-size: 0.65em;
                                                                        margin-top: 160px;
                                                                        background-size: cover;
                                                                        background-color: black;
                                                                        padding: 12px;
                                                                    }
                                                                    span
                                                                    {
                                                                        font-size: 0.80em;
                                                                    }

