/*-------------------body------------------*/
body{
    margin:0;
    padding:0;
}
                                                                            /*--------------------boxes-------------------*/
                                                                            .box1{
                                                                                height: 100vh;
                                                                                width: 100%;
                                                                                background-image: url(pics/col3.jpg);
                                                                                background-size: cover;
                                                                                display: table;
                                                                                background-attachment: fixed;
                                                                            }
                                                                            .box2{
                                                                                height: 100vh;
                                                                                width: 100%;
                                                                                background-image: url(pics/selfie2.jpg);
                                                                                background-size: cover;
                                                                                display: table;
                                                                                background-attachment: fixed;
                                                                            }
/*-------------------content------------------*/
h1{
    font-family: arial black;
    font-size: 80px;
    text-decoration: overline underline;
    text-decoration-style: dotted;
    color: azure;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}
h2{
    font-family: arial black;
    font-size: 50px;
    color: beige;
    text-align: center;
    padding-left: -200px;
    margin-bottom: 200px;
    margin-top: 15px;
}
h3{
    font-family: century gothic;
    font-size: 18px;
    color: cornflowerblue;
    text-align: center;
    padding-left: -200px;
    margin-top: -208px;
    text-decoration: underline;
}
h4{
    font-family: century gothic;
    font-size: 25px;
    color: azure;
    text-align: center;
    padding-left: -200px;
    margin-top: 230px;
}
                                                                                /*-------------------content------------------*/
                                                                                .box-img{
                                                                                    border-radius: 50%;
                                                                                    width: 200px;
                                                                                    height: 200px;
                                                                                    margin-top: 100px;
                                                                                    margin-left: 580px;
                                                                                    text-align: center;
                                                                                }
