/*-----------------body----------------*/
body{
    font-family: 'arial';
    line-height: 1em;
    margin: 0;
	padding: 0;
    background-color: #112229;
}
                                                                        /*-----------------navigation----------------*/
                                                                        nav{
                                                                            position: fixed;
                                                                            top: 0;
                                                                            width: 100%;
                                                                            height: 1090px;
                                                                            padding: 5px 55px;
                                                                            box-sizing: border-box;
                                                                            transition: .3s;
                                                                        }
                                                                        nav .logo{
                                                                            float: left;
                                                                            padding: 20px;
                                                                        }
                                                                        nav .logo img{
                                                                            height: 62.5px;
                                                                            width: 65px;
                                                                        }
                                                                        nav ul{
                                                                            float: right;
                                                                            margin-top: 0;
                                                                            padding: 0;
                                                                            display: flex;
                                                                        }
                                                                        nav ul li{
                                                                            list-style: none;
                                                                        }
                                                                        nav ul li a{
                                                                            line-height: 100px;
                                                                            color: white;
                                                                            padding: 5px 15px;
                                                                            font-family: 'calibre', sans-serif;
                                                                            text-decoration: none;
                                                                            text-transform: uppercase;
                                                                            transition: .5s;
                                                                            font-weight: bold;
                                                                            font-size: 13px;
                                                                            margin-bottom: 25px;
                                                                        }
                                                                        nav ul li a.active,
                                                                        nav ul li a:hover
                                                                        {
                                                                            color: black;
                                                                            background: aqua;
                                                                        }
/*---------------background--------------*/
img{
    width: 100%;
    padding-bottom: 50px;
}
                                                                        /*-----------------content1----------------*/
                                                                        section.content{
                                                                            padding-bottom: 100px;
                                                                        }
                                                                        section.content ul p{
                                                                            color: burlywood;
                                                                        }
                                                                        section.content h1 p{
                                                                            margin-top: -295px;
                                                                            padding-top: 125px;
                                                                            padding-bottom: 130px;
                                                                            font-size: 1.5em;
                                                                            color: beige;
                                                                            text-align: center;
                                                                            text-transform: uppercase;
                                                                            font-weight: bold;
                                                                        }
                                                                        section.content h2 p{
                                                                            margin-top: -265px;
                                                                            padding-top: 250px;
                                                                            padding-bottom: 28px;
                                                                            margin-left: 100px;
                                                                            font-size: 18px;
                                                                            color: firebrick;
                                                                            text-align: left;
                                                                            text-transform: uppercase;
                                                                            font-weight: bold;
                                                                        }
                                                                        section.content ul li{
                                                                            margin-left: 130px;
                                                                            font-size: 13px;
                                                                            color: beige;
                                                                            text-align: left;
                                                                        }
                                                                        section.content ul li span{
                                                                            font-weight: bold;
                                                                            font-size: 13px;
                                                                            color: burlywood;
                                                                        }
/*-----------------content2----------------*/
section.content2{
    padding-top: -30px;
}
section.content2 h3{
    margin-top: -275px;
    padding-top: 200px;
    padding-bottom: 18px;
    margin-left: 100px;
    font-size: 18px;
    color: firebrick;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
section.content2 ul{
    padding-bottom: -180px;
}
section.content2 ul p{
    font-weight: bold;
    padding: 0em 7.5em 0em 7.5em;
    color: burlywood;
}
section.content2 ul li{
    margin-left: 170px;
    font-size: 13px;
    color: beige;
    text-align: left;
}
section.content2 ul li ul li{
    margin-left: 50px;
    font-size: 13px;
    color: beige;
    text-align: left;
}
                                                                        /*-----------------footer----------------*/
                                                                        #footer
                                                                        {
                                                                            text-align: center;
                                                                            color: white;
                                                                            font-size: 0.65em;
                                                                            margin-top: 50px;
                                                                            background-size: cover;
                                                                            background-color: black;
                                                                            padding: 12px;
                                                                        }
                                                                        span
                                                                        {
                                                                            font-size: 0.80em;
                                                                        }