/*-------------------body------------------*/
body{
    font-family: 'arial';
    line-height: 1.5em;
    margin: 0;
	padding: 0;
	background: url(pics/col4.jpg) no-repeat;
	background-size: cover;
}
                                                                        /*-----------------navigation----------------*/
                                                                        nav{
                                                                            position: fixed;
                                                                            top: 0;
                                                                            width: 100%;
                                                                            height: 1090px;
                                                                            padding: 5px 55px;
                                                                            box-sizing: border-box;
                                                                            transition: .3s;
                                                                        }
                                                                        nav .logo{
                                                                            float: left;
                                                                            padding: 20px;
                                                                        }
                                                                        nav .logo img{
                                                                            height: 65px;
                                                                        }
                                                                        nav ul{
                                                                            float: right;
                                                                            margin: 0;
                                                                            padding: 0;
                                                                            display: flex;
                                                                        }
                                                                        nav ul li{
                                                                            list-style: none;
                                                                        }
                                                                        nav ul li a{
                                                                            line-height: 100px;
                                                                            color: white;
                                                                            padding: 5px 15px;
                                                                            font-family: 'calibre', sans-serif;
                                                                            text-decoration: none;
                                                                            text-transform: uppercase;
                                                                            transition: .3s;
                                                                            font-weight: bold;
                                                                            font-size: 13px;
                                                                            margin-bottom: 25px;
                                                                        }
                                                                        nav ul li a.active,
                                                                        nav ul li a:hover
                                                                        {
                                                                            color: black;
                                                                            background: aqua;
                                                                        }
/*-----------------content----------------*/
section.content{
    padding: 0em 8.5em 0em 8.5em;
}
section.content h1 p{
    margin-top: 100px;
    margin-bottom: 25px;
    padding: 50px;
    font-size: 1.5em;
    color: beige;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
section.content h2 p{
    line-height: 1.5em;
    margin-top: 13px;
    margin-bottom: 30px;
    color: aquamarine;
    text-align: center;
    font-size: 28px;
    font-family: cursive;
    font-family: times new roman;
}
                                                                    /*-----------------conten2----------------*/
                                                                    section.content2{
                                                                        padding: 0em 8.5em 0em 8.5em;
                                                                        padding-top: 30px;
                                                                    }
                                                                    section.content2 p{
                                                                        line-height: 0.3em;
                                                                        margin-bottom: 20px;
                                                                        margin-top: 1px;
                                                                        color: beige;
                                                                        text-align: center;
                                                                        font-size: 20px;
                                                                        font-family: times new roman;
                                                                    }
/*-----------------conten3----------------*/
section.content3{
    padding: 0em 8em 0em 8em;
}
section.content3 p{
    line-height: 0.3em;
    margin-bottom: 5px;
    margin-top: 10px;
    color: beige;
    text-align: center;
    font-size: 25px;
    font-family: times new roman;
    
}
                                                                    /*------------------footer-----------------*/     
                                                                    #footer
                                                                    {
                                                                        text-align: center;
                                                                        color: white;
                                                                        font-size: 0.65em;
                                                                        margin-top: 140px;
                                                                        background-size: cover;
                                                                        background-color: black;
                                                                        padding: 7px;
                                                                    }
                                                                    span
                                                                    {
                                                                        font-size: 0.80em;
                                                                    }
